*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient( rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-color: white;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ab42a8;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    margin-left: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color:black;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #6978a9;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #6565a5;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #5b53a1;
    border: 2px solid #5b478d;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}


.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}
.model{
   

    color: aqua;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
   

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
}
.header h2{
    color: rgb(51,51,51);
    margin: 0px;
    text-align: left;
    
}
.header a{
    text-decoration: none;
    color: rgb(220,53,88);
    font-size: 14px;
    margin-top: 40px;

}
.models img{
    height: 378px;
    width: 222px;
    border-radius: 10px;
    transition: 1s ;
}
.models img:hover{
   /* transform: scale(1.05);*/
   transform: translatey(-25px );
}
.models{
    display: flex;
    justify-content: space-between;
    padding: 0px 60px;
    
}
#title{
    font-size: 18px;
    font-weight: bold;
    color: rgb(34,34,34);
}

